$block: 'footer';

.#{$block} {
    background-color:$lightModeratedCyan;
    padding: 60px 0;

    &__logo {
        margin-bottom: 40px;
        svg {
            transform: scale(1.3);
            path {
                fill:$darkModeratedCyan;
            }
        }
    }
    &__navbar {
        max-width: 300px;
        width: 100%;
        margin-bottom: 100px;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            li {
                a {
                    color:$darkModeratedCyan;
                    font-size: 18px;
                    text-decoration: none;
                    &:hover {
                        color:$white;
                    }
                }
            }
        }
    }

    &__social-network {
        width: 100%;
        max-width: 160px;
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            li{
                a{
                    color:$darkDesaturatedCyan;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
